@{
    ViewBag.Title = "EditFormSample";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(excludePropertyErrors: true)
    <fieldset>
        <legend>Edit Album</legend>
        <p>
            @Html.Label("GenreId")
            @Html.DropDownList("GenreId", ViewBag.Genres as SelectList)
        </p>
        <p>
            @Html.Label("Title")
            @Html.TextBox("Title", Model.Title)
            @Html.ValidationMessage("Title")
        </p>
    </fieldset>
}
